.welcome {
  text-align: center;
}

.welcome-logo {
  height: 40vmin;
  pointer-events: none;
}



.welcomepage {
  background-color: #edebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2F8288;
}


.header-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: solid 1px green;
  padding: 10px 20px;
  align-items:  center;

}

.header-logo {
  height: 45px;
  width: 45px;
}

.header-hamburger {
  width: 60px;
  height: 60px;
}


.introduction-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 50px;
  align-items: center;
}


.introduction-hay {
  font-size: 1.5rem;
}

.introduction-name {
  font-size: 3rem;
}

.introduction-welcome {
  font-size: 3rem;
}

.introduction-description {
  font-size: 1rem;
}


.button {
  margin-top: 60px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #2F8288;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  width: fit-content;
  font-size: 16px;
}

.button:hover {
  background-color: #CFD228;
  box-shadow: 0px 15px 20px #CFD228;
  color: rgb(0, 0, 0);
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}